<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<div class="2xl:container 2xl:mx-auto md:py-12 lg:px-20 md:px-6 px-4 py-9">
    <h1 class="text-center lg:mb-20 mb-10 dark:text-white text-gray-800 font-semibold lg:text-4xl text-3xl lg:leading-9 leading-7 w-9/12 md:w-full mx-auto">
        Hear From Our Partners</h1>
    <div class="relative md:flex justify-center items-center">
      <div class="md:w-4/12 w-full">
        <div class="flex space-x-2 md:mt-0 mt-10"> 

          <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg1.svg" alt="star"/>
          <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg1dark.svg" alt="star"/>
          <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg1.svg" alt="star"/>
          <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg1dark.svg" alt="star"/>
          <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg1.svg" alt="star"/>
          <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg1dark.svg" alt="star"/>
          <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg1.svg" alt="star"/>
          <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg1dark.svg" alt="star"/>
          <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg1.svg" alt="star"/>
          <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg1dark.svg" alt="star"/>

          <p class="text-gray-600 text-base dark:text-gray-400 leading-4 font-normal">5/5</p>
        </div>
        <h3 class="text-gray-800 my-4 dark:text-white font-semibold lg:text-2xl text-xl lg:leading-6 leading-5">Based On 170 reviews</h3>
        <a href="javascript:void(0)" class="hover:text-gray-800 dark:text-gray-400 focus:outline-none focus:text-black hover:underline text-sm leading-3 
        text-gray-600 cursor-pointer">See all reviews</a>
      </div>

      <!-- Medium and large Slider -->
      <div class="hidden md:block relative md:w-8/12 w-full overflow-x-hidden md:mt-0 mt-10">
        <div id="slider" class="flex justify-start items-start transition ease-out duration-700 gap-4">
          <div class="w-72 flex-none">
            <div class="w-full">
              <div class="mb-6">
                <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg2.svg" alt="BBC logo"/>
                <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg2dark.svg" alt="BBC logo"/>
              </div>
              <div class="md:w-full h-full relative">
                <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ I love this. Thanks. The seeker has solitude, but not everyone disturbs
                     it The body of suffering is full of fear. I am fully satisfied and would recommend buying from them as they have made my life so much easier :)”</p>
              </div>
            </div>
          </div>
          <div class="w-72 flex-none">
            <div class="w-full">
              <div class="mb-6 text-gray-800 dark:text-white">
                <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg3.svg" alt="reviewed logo"/>
                <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg3dark.svg" alt="reviewed logo"/>
              </div>
              <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ It was an absolute pleasure working with them. They are the best, Highly Recommended! ”</p>
            </div>
          </div>
          <div class="w-72 flex-none">
            <div class="w-full">
              <div class="mb-6">
                  <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg4.svg" alt="heavy logo"/>
                  <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg4dark.svg" alt="heavy logo"/>
              </div>
              <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ I love this. Thanks. The seeker has solitude. I am fully satisfied and would recommend 
                buying from them as they have made my life so much easier :)”</p>
            </div>
          </div>
          <div class="w-72 flex-none">
            <div class="w-full">
              <div class="mb-6">
                <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg2.svg" alt="BBC logo"/>
                <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg2dark.svg" alt="BBC logo"/>
              </div>
              <div class="md:w-full h-full relative">
                <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ I love this. Thanks. The seeker has solitude, but not everyone disturbs it The body of suffering is full of fear. I am fully satisfied and would recommend buying from them as they have made my life so much easier :)”</p>
              </div>
            </div>
          </div>
          <div class="w-72 flex-none">
            <div class="w-full">
              <div class="mb-6 text-gray-800 dark:text-white">
                 <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg3.svg" alt="reviewed logo"/>
                <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg3dark.svg" alt="reviewed logo"/>
                </div>
              <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ It was an absolute pleasure working with them. They are the best, Highly Recommended! ”</p>
            </div>
          </div>
          <div class="w-72 flex-none">
            <div class="w-full">
              <div class="mb-6">
                <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg4.svg" alt="heavy logo"/>
                  <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg4dark.svg" alt="heavy logo"/>
              </div>
              <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ I love this. Thanks. The seeker has solitude. I am fully satisfied and would recommend buying from them as they have made my life so much easier :)”</p>
            </div>
          </div>
        </div>
        <div class="flex justify-end items-end mt-10 pr-2 pb-1">
          <div class="flex items-center space-x-3">
            <button id="prev" aria-label="slide backward" class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M31.666 20H8.33268" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M15 26.6667L8.33333 20" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M15 13.3335L8.33333 20.0002" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
            <button id="next" aria-label="slide forward" class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.33398 20H31.6673" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M25 26.6667L31.6667 20" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M25 13.3335L31.6667 20.0002" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Small Slider -->
      <div class="block md:hidden relative md:w-8/12 w-full overflow-x-hidden md:mt-0 mt-10">
        <div id="slider2" class="flex justify-start items-start transition ease-out duration-700 gap-0 space-x-2">
          <div id="sizeDiv" class="w-full sm:w-6/12 flex-none">
            <div class="w-full">
              <div class="mb-6">
                 <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg2.svg" alt="BBC logo"/>
                <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg2dark.svg" alt="BBC logo"/>
              </div>
              <div class="md:w-full h-full relative">
                <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ I love this. Thanks. The seeker has solitude, but not everyone disturbs it The body of suffering is full of fear. I am fully satisfied and would recommend buying from them as they have made my life so much easier :)”</p>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-6/12 flex-none">
            <div class="w-full">
              <div class="mb-6 text-gray-800 dark:text-white">
                <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg3.svg" alt="reviewed logo"/>
                <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg3dark.svg" alt="reviewed logo"/>
                </div>
              <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ It was an absolute pleasure working with them. They are the best, Highly Recommended! ”</p>
            </div>
          </div>
          <div class="w-full sm:w-6/12 flex-none">
            <div class="w-full">
              <div class="mb-6">
                <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg4.svg" alt="heavy logo"/>
                  <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg4dark.svg" alt="heavy logo"/>
              </div>
              <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ I love this. Thanks. The seeker has solitude. I am fully satisfied and would recommend buying from them as they have made my life so much easier :)”</p>
            </div>
          </div>
          <div class="w-full sm:w-6/12 flex-none">
            <div class="w-full">
              <div class="mb-6">
                <<img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg2.svg" alt="BBC logo"/>
                <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg2dark.svg" alt="BBC logo"/>
              </div>
              <div class="md:w-full h-full relative">
                <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ I love this. Thanks. The seeker has solitude, but not everyone disturbs it The body of suffering is full of fear. I am fully satisfied and would recommend buying from them as they have made my life so much easier :)”</p>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-6/12 flex-none">
            <div class="w-full">
              <div class="mb-6 text-gray-800 dark:text-white">
                <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg3.svg" alt="reviewed logo"/>
                <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg3dark.svg" alt="reviewed logo"/>
                </div>
              <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ It was an absolute pleasure working with them. They are the best, Highly Recommended! ”</p>
            </div>
          </div>
          <div class="w-full sm:w-6/12 flex-none">
            <div class="w-full">
              <div class="mb-6">
                <img class="dark:hidden cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg4.svg" alt="heavy logo"/>
                  <img class="hidden dark:block cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners5-svg4dark.svg" alt="heavy logo"/>
              </div>
              <p class="text-gray-600 dark:text-gray-400 font-normal text-base leading-7">“ I love this. Thanks. The seeker has solitude. I am fully satisfied and would recommend buying from them as they have made my life so much easier :)”</p>
            </div>
          </div>
        </div>
        <div class="flex justify-end items-end mt-10 pr-2 pb-1">
          <div class="flex items-center space-x-3">
            <button id="prev2" aria-label="slide backward" class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M31.666 20H8.33268" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M15 26.6667L8.33333 20" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M15 13.3335L8.33333 20.0002" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
            <button id="next2" aria-label="slide forward" class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.33398 20H31.6673" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M25 26.6667L31.6667 20" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M25 13.3335L31.6667 20.0002" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Js Code for medium and large Screen
let next = document.getElementById("next");
let prev = document.getElementById("prev");
let defaultTransform = 0;
function goNext() {
    defaultTransform = defaultTransform - 298;
    var slider = document.getElementById("slider");
    if (Math.abs(defaultTransform) >= slider.scrollWidth / 1.2) defaultTransform = 0;
    console.log("slider", slider.scrollWidth);
    console.log("check width", Math.abs(defaultTransform));
    slider.style.transform = "translateX(" + defaultTransform + "px)";
    console.log("test", "translateX(" + defaultTransform + "px)");
}
function goPrev() {
    var slider = document.getElementById("slider");
    if (Math.abs(defaultTransform) === 0) defaultTransform = 0;
    else defaultTransform = defaultTransform + 298;
    console.log("slider", slider.scrollWidth);
    console.log("check width", Math.abs(defaultTransform));
    slider.style.transform = "translateX(" + defaultTransform + "px)";
    console.log("test", "translateX(" + defaultTransform + "px)");
}
next.addEventListener("click", goNext);
prev.addEventListener("click", goPrev);

// Js Code for small Scroll

let next2 = document.getElementById("next2");
let prev2 = document.getElementById("prev2");
let defaultTransform2 = 0;
function goNext2() {
    var sizeDiv = document.getElementById("sizeDiv").offsetWidth + 5;
    defaultTransform2 = defaultTransform2 - sizeDiv;
    var slider = document.getElementById("slider2");
    if (Math.abs(defaultTransform2) >= slider.scrollWidth / 1.2) defaultTransform2 = 0;
    console.log("slider", slider.scrollWidth);
    console.log("check width", Math.abs(defaultTransform2));
    slider.style.transform = "translateX(" + defaultTransform2 + "px)";
    console.log("test", "translateX(" + defaultTransform2 + "px)");
}
function goPrev2() {
    var sizeDiv = document.getElementById("sizeDiv").offsetWidth + 5;
    var slider = document.getElementById("slider2");
    if (Math.abs(defaultTransform2) === 0) defaultTransform2 = 0;
    else defaultTransform2 = defaultTransform2 + sizeDiv;
    console.log("slider", slider.scrollWidth);
    console.log("check width", Math.abs(defaultTransform2));
    slider.style.transform = "translateX(" + defaultTransform2 + "px)";
    console.log("test", "translateX(" + defaultTransform2 + "px)");
}
next2.addEventListener("click", goNext2);
prev2.addEventListener("click", goPrev2);

  </script>
  
  
