<!-- Hero -->
<div class="relative overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <div class="max-w-2xl text-center mx-auto">
      <h1
        class="block text-3xl font-bold text-gray-800 sm:text-4xl md:text-5xl"
      >
        Made for you to get more <span class="text-blue-600">simple</span>
      </h1>
      <p class="mt-3 text-lg text-gray-800">
        Build your business here. Take it anywhere.
      </p>
    </div>

    <!-- Image -->
    <div class="mt-10 mx-auto max-w-5xl">
      <img
        class="w-full h-96 sm:h-[480px] object-cover rounded-3xl"
        src="https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&h=800&q=80"
        alt="Image Description"
      />
    </div>
  </div>
</div>
<!-- End Hero -->
