<header>
  <div
    class="bg-white flex flex-row justify-between space-x-10 lg:w-full lg:h-auto w-full px-6 py-5"
  >
    <div class="flex flex-row space-x-4">
      <div class="text-sm">SHANGHAI TANG</div>

      <div class="lg:flex flex-row space-x-4 max-md:hidden">
        <a href="" class="hover:underline decoration-pink-700 block"
          >New Arrivals</a
        >
        <a href="" class="hover:underline decoration-pink-500 block">Women</a>
        <a href="" class="hover:underline decoration-pink-500 block">Men</a>
        <a href="" class="hover:underline decoration-pink-500 block">Home</a>
        <a href="" class="hover:underline decoration-pink-500 block">Gifts</a>
        <a href="" class="hover:underline decoration-pink-500 block">Sales</a>
        <a href="" class="hover:underline decoration-pink-500 block"
          >Our world</a
        >
      </div>
    </div>
    <div class="flex flex-end items-center space-x-6">
      <a href="" class="hover:text-pink-700 block max-md:hidden"
        >HONG KONG SAR(CHINA) |EN</a
      >
      <span class="material-symbols-outlined hover:text-green-600">
        person
      </span>
      <span class="material-symbols-outlined hover:text-green-600">
        search
      </span>
      <span class="material-symbols-outlined hover:text-green-600">
        shopping_bag
      </span>
    </div>
  </div>
</header>
