<!-- Hero -->
<div class="relative overflow-hidden sm:py-16 lg:py-24 xl:py-32">
  <!-- Background Image -->
  <div class="absolute inset-0">
    <img
      class="object-cover w-full h-full"
      src="https://picsum.photos/id/66/200/300"
      alt=""
    />
  </div>
  <!-- Background Overlay -->
  <div class="absolute inset-0 bg-black/60"></div>
  <!-- Text Content -->
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
    <!-- Announcement Banner -->
    <div class="flex justify-center">
      <a
        class="inline-flex items-center gap-x-2 bg-white border border-gray-200 text-xs text-gray-600 p-2 px-3 rounded-full transition hover:border-gray-300"
        href="#"
      >
        Explore our Product
        <span class="flex items-center gap-x-1">
          <span class="border-s border-gray-200 text-blue-600 ps-2">
            Explore
          </span>
          <svg
            class="flex-shrink-0 w-4 h-4 text-blue-600"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m9 18 6-6-6-6" />
          </svg>
        </span>
      </a>
    </div>
    <!-- End Announcement Banner -->
    <!-- Title -->
    <div class="mt-5 max-w-3xl text-center mx-auto">
      <h1 class="block font-bold text-white text-4xl md:text-5xl lg:text-6xl">
        Awesome Experience
      </h1>
    </div>
    <!-- End Title -->

    <div class="mt-5 max-w-3xl text-center mx-auto">
      <p class="text-lg text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
        dignissimos porro illo itaque accusamus tempore placeat
      </p>
    </div>
  </div>
</div>
<!-- End Hero -->
