<footer>
  <div class="bg-slate-950 text-white py-6">
    <div class="container mx-auto flex flex-row lg:flex justify-between">
        <!-- About Our Company -->
        <div class="mb-4 lg:mb-0">
            <h2 class="text-xl font-bold mb-2"> Our Company</h2>
            <ul>
                <li><a href="/about" class="text-gray-300 hover:text-white transition duration-300">About</a></li>
                <li><a href="/services" class="text-gray-300 hover:text-white transition duration-300">Services</a></li>
                <li><a href="/portfolio" class="text-gray-300 hover:text-white transition duration-300">Portfolio</a></li>
                <li><a href="/news&blogs" class="text-gray-300 hover:text-white transition duration-300">News&Blogs</a></li>
                <li><a href="/contact" class="text-gray-300 hover:text-white transition duration-300">Contact</a></li>
            </ul>
        </div>

        <!-- Contact Us and Social Media Links -->
        <div class="mb-4 lg:mb-0 " >
            <h2 class="text-xl font-bold mb-2">Contact Us</h2>
            <ul>
                <li><a href="mailto:info@example.com" class="text-gray-300 hover:text-white transition duration-300">Email</a></li>
                <li><a href="tel:+123456789" class="text-gray-300 hover:text-white transition duration-300">Phone</a></li>
                <li><a href="https://facebook.com/example" class="text-gray-300 hover:text-white transition duration-300" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/example" class="text-gray-300 hover:text-white transition duration-300" target="_blank">Twitter</a></li>
                <li><a href="https://linkedin.com/company/example" class="text-gray-300 hover:text-white transition duration-300" target="_blank">LinkedIn</a></li>
            </ul>
        </div>

        <!-- Legal Terms -->
        <div>
            <h2 class="text-xl font-bold mb-2">Legal Terms</h2>
            <ul>
                <li><a href="/privacy-policy" class="text-gray-300 hover:text-white transition duration-300">Privacy Policy</a></li>
                <li><a href="/terms-of-service" class="text-gray-300 hover:text-white transition duration-300">Terms of Service</a></li>
            </ul>
        </div>
    </div>
    
</div>
</body>

</footer>