<nav class="bg-gray-100 text-black py-4">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <div class="flex items-center"> 
            <img class="h-8 mr-4" src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg" alt="Your Logo" width="100" height="auto">
            <ul class="flex space-x-4 justify-center">
                <li><a href="#" class="hover:text-gray-700">Home</a></li>
                <li><a href="#" class="hover:text-gray-700">About</a></li>
                <li><a href="#" class="hover:text-gray-700">Services</a></li>
                <li><a href="#" class="hover:text-gray-700">Contact</a></li>
            </ul>
        </div>
        <div>
            <a href="#" class="px-4 py-2 bg-black-600 hover:bg-blue-700 rounded-lg">Sign Up</a>
            <a href="#" class="px-4 py-2 bg-black-600 hover:bg-blue-700 rounded-lg">Login</a>
        </div>
    </div>
</nav>
