<header
  class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white text-sm py-4"
>
  <nav
    class="max-w-7xl w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
    aria-label="Global"
  >
    <a class="flex-none text-xl font-semibold" href="#">Brand</a>
    <!-- Navbar links -->
    <div
      class="flex flex-row sm:flex md:flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:ps-5 overflow-x-auto"
    >
      <a class="font-medium text-blue-500" href="#" aria-current="page"
        >Landing
      </a>
      <a class="font-medium text-gray-600 hover:text-gray-400" href="#"
        >Account
      </a>
      <a class="font-medium text-gray-600 hover:text-gray-400" href="#">Work</a>
      <a class="font-medium text-gray-600 hover:text-gray-400" href="#">Work</a>
      <a class="font-medium text-gray-600 hover:text-gray-400" href="#">Blog</a>
      <a class="font-medium text-gray-600 hover:text-gray-400" href="#">Blog</a>
      <a class="font-medium text-gray-600 hover:text-gray-400" href="#">Blog</a>
      <a class="font-medium text-gray-600 hover:text-gray-400" href="#">Blog</a>
    </div>
  </nav>
</header>

<script></script>
