<nav>
  <div
    class="bg-slate-800 p-4 container mx-auto flex justify-between items-center"
  >
    <!--  Logo and Name -->
    <div class="flex items-start space-x-2 lg:flex items-center">
      <img src="logo.png" alt="Logo" class="h-8 w-8" />
      <span class="text-white text-lg font-semibold">Infospace</span>
    </div>

    <!--  Navigation Links -->
    <div class="space-x-4 flex flex-col lg:flex-row">
      <a href="#" class="text-white">Home</a>
      <a href="#" class="text-white">About Us</a>
      <a href="#" class="text-white">Services</a>

      <!-- Portfolio Dropdown -->
      <div class="relative inline-block text-white">
        <span class="cursor-pointer">Portfolio</span>
        <div
          class="absolute hidden mt-2 space-y-2 bg-white text-gray-800 p-2 rounded shadow-lg"
        >
          <a href="#" class="block hover:bg-gray-200 px-4 py-2"
            >Website Projects</a
          >
          <a href="#" class="block hover:bg-gray-200 px-4 py-2">App Projects</a>
          <a href="#" class="block hover:bg-gray-200 px-4 py-2"
            >System Projects</a
          >
          <a href="#" class="block hover:bg-gray-200 px-4 py-2"
            >Branding Projects</a
          >
        </div>
      </div>

      <a href="#" class="text-white">News</a>
      <a href="#" class="text-white">Contact</a>
    </div>
  </div>
</nav>
