<div class="w-full lg:h-screen">
    <div class="py-10 flex flex-col">
      <div class="my-18 text-center border-b">
        <h1 class="text-2xl">PRACTICE AREA</h1>
        <!-- <a href="" class="text-red-500 flex justify-center"
          >LEARN MORE
          <span class="material-symbols-outlined"> arrow_right_alt </span>
        </a> -->
      </div>
      <div class="mt-6 md:grid grid-cols-2 lg:grid-cols-3 gap-4 px-6">
        <div class="bg-inherit lg:h-64 lg:flex-1 flex-col px-2">
          <div class="flex space-x-2 py-4">
            <span class="material-symbols-outlined text-amber-500">
              gavel
            </span>
            <h1 class="text-sm font-bold">Legal Advice</h1>
          </div>
          <div class="flex flex-col text-start py-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed,
              incidunt sapiente pariatur ipsa odio sequi animi nostrum. Ullam
              repellendus commodi ab. Modi, eius. Mollitia laboriosam quod
              perspiciatis? Dolore, ipsum!.
            </p>
          </div>
          <a href="" class="text-amber-500 flex justify-start py-4"
            >READ MORE
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
        <div class="bg-inherit h-64 flex flex-col px-2">
          <div class="flex space-x-2 py-4">
            <span class="material-symbols-outlined text-amber-500">
              car_crash
            </span>
            <h1 class="text-sm font-bold">Traffic Accidents</h1>
          </div>
          <div class="flex flex-col text-start py-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed,
              incidunt sapiente pariatur ipsa odio sequi animi nostrum. Ullam
              repellendus commodi ab. Modi, eius. Mollitia laboriosam quod
              perspiciatis? Dolore, ipsum!.
            </p>
          </div>
          <a href="" class="text-amber-500 flex justify-start py-4"
            >READ MORE
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
        <div class="bg-inherit h-64 flex flex-col px-2">
          <div class="flex space-x-2 py-4">
            <span class="material-symbols-outlined text-amber-500">
              emoji_objects
            </span>
            <h1 class="text-sm font-bold">Patent Infringment</h1>
          </div>
          <div class="flex flex-col text-start py-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed,
              incidunt sapiente pariatur ipsa odio sequi animi nostrum. Ullam
              repellendus commodi ab. Modi, eius. Mollitia laboriosam quod
              perspiciatis? Dolore, ipsum!.
            </p>
          </div>
          <a href="" class="text-amber-500 flex justify-start py-4"
            >READ MORE
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
        <div class="bg-inherit h-64 flex flex-col px-2">
          <div class="flex space-x-2 py-4">
            <span class="material-symbols-outlined text-amber-500">
              diversity_3
            </span>
            <h1 class="text-sm font-bold">Family Law</h1>
          </div>
          <div class="flex flex-col text-start py-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed,
              incidunt sapiente pariatur ipsa odio sequi animi nostrum. Ullam
              repellendus commodi ab. Modi, eius. Mollitia laboriosam quod
              perspiciatis? Dolore, ipsum!.
            </p>
          </div>
          <a href="" class="text-amber-500 flex justify-start py-4"
            >READ MORE
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
        <div class="bg-inherit h-64 flex flex-col px-2">
          <div class="flex space-x-2 py-4">
            <span class="material-symbols-outlined text-amber-500">
              emoji_objects
            </span>
            <h1 class="text-sm font-bold">Patent Infringment</h1>
          </div>
          <div class="flex flex-col text-start py-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed,
              incidunt sapiente pariatur ipsa odio sequi animi nostrum. Ullam
              repellendus commodi ab. Modi, eius. Mollitia laboriosam quod
              perspiciatis? Dolore, ipsum!.
            </p>
          </div>
          <a href="" class="text-amber-500 flex justify-start py-4"
            >READ MORE
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
        <div class="bg-inherit h-64 flex flex-col px-2">
          <div class="flex space-x-2 py-4">
            <span class="material-symbols-outlined text-amber-500">
              emoji_objects
            </span>
            <h1 class="text-sm font-bold">Patent Infringment</h1>
          </div>
          <div class="flex flex-col text-start py-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed,
              incidunt sapiente pariatur ipsa odio sequi animi nostrum. Ullam
              repellendus commodi ab. Modi, eius. Mollitia laboriosam quod
              perspiciatis? Dolore, ipsum!.
            </p>
          </div>
          <a href="" class="text-amber-500 flex justify-start py-4"
            >READ MORE
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  